        <h1 id="margin_padding"> Seattle tastes good. </h1>
        <h2 id="margin2_padding"> Yum. </h2>
        <img src  = "selam.png" width="300" height="200" /> <img src  = "maneki.png" width="300" height="200" />
        <table border="1">
          <thead>
            <tr>
              <th> Best Food List </th>
              <th> The Spot </th>
            </tr>
          </thead>
          <tr>
            <td > Best Burrito </td>
            <td><a href="http://www.yelp.com/biz/el-kiosko-renton?osq=Mexican+Food">El Kiosko</a></td>
          </tr>
          <!-- </tr> -->
          <tr>
            <td> Best Dim Sum </td>
            <td><a href="http://www.yelp.com/biz/jade-garden-seattle">Jade Garden</a></td>
          </tr>
          <tr>
            <td>  Best Sushi </td>
            <td><a href="http://www.yelp.com/biz/maneki-seattle"> Maneki </a></td>
          </tr>
          <tr>
            <td>Best Ethiopian</td>
            <td><a href="http://www.yelp.com/biz/cafe-selam-seattle?osq=Ethiopian+Food">Cafe Selam </a></td>
          </tr>
        </table>
