<html>
<body>
<head>

<title> Hi! </title>
<meta charset = "utf-8">
</head>

<header> <h1> Hi. I'm Annalee. </h1> </header>
<header> <h2> Seattle is cool. </h2> </header>
<img src  = "seattle.png" />




<footer>

  <p>
    Get your Seattle on:
    <a href ="/seattleparks.html">
    Parks</a>
    <a href ="/seattlefood.html">
    Food</a>


  </p>
</footer>
</body>
</html>
