<html>
<body>
<head>

<title> Parks </title>
<meta charset = "utf-8">
</head>

<header> <h1> Seattle Parks </h1> </header>

<img src  = "seattlefall.png" />

<ul>
  <li> Kerry Park </li>
  <li> Volunteer Park </li>
  <li> Discovery Park </li>
  <li> Jose Rizal Park </li>
</ul>



<footer>

  <p>
    Get your Seattle on:
    <a href = "hello.erb">
    Home</a>

  </p>
</footer>
</body>
</html>








</body>
</html>
