    <header> <h1 id ="margin_padding"> Seattle Parks </h1> </header>
    <header> <h2 id="margin2_padding"> Let's go to the park! </h2> </header>
    <img src  = "discoverypark.png" />
    <p class="photo"> Discovery Park </p>
      <ul>
        <li> <a href= "http://seattlebloggers.com/kerry-park-a-classic-seattle-view/"> Kerry Park</a> </li>
        <li> <a href = "http://www.volunteerparkconservatory.org/"> Volunteer Park </a> </li>
        <li> <a href = "http://www.seattle.gov/parks/environment/discovery.htm"> Discovery Park</a> </li>
        <li> <a href = "https://en.wikipedia.org/wiki/Rizal_Park_(Seattle)"> Jose Rizal Park</a> </li>
      </ul>
