<html>
<body>
<head>

<title> Parks </title>
<meta charset = "utf-8">
</head>

<header> <h1> Seattle Parks </h1> </header>
<header> <h2> Let's go to the park! </h2> </header>

<img src  = "seattlefall.png" />

<ul>
  <li> <a href= "http://seattlebloggers.com/kerry-park-a-classic-seattle-view/"> Kerry Park</a> </li>
  <li> <a href = "http://www.volunteerparkconservatory.org/"> Volunteer Park </a> </li>
  <li> <a href = "http://www.seattle.gov/parks/environment/discovery.htm"> Discovery Park</a> </li>
  <li> <a href = "https://en.wikipedia.org/wiki/Rizal_Park_(Seattle)"> Jose Rizal Park</a> </li>
</ul>



<footer>

  <p>
    Get your Seattle on:
    <a href = "/loveseattle.html">
    Home</a>

  </p>
</footer>
</body>
</html>








</body>
</html>
